/*basis-theme "colorful"*/
/*jegliche css-deklaration muss mit klasse .colorful starten */

/* hintergrund wird pro ppage festgelegt, nicht nur einmal fürs theme. sollte in zukunft geändert werden, aber momentan ists noch so.
ppage ist der jeweilige presentation-slide.
generelle sachen, wie bspw. schriftfarben, schriften etc. in die hauptdeklaration, abweichungen dann in den weiteren.
ich leg dir hier ein muster vor, in das du deine sachen eintragen kannst. halt es einfach und semantisch, dann sollte nicht viel schief gehen.*/



:root{
  --colorfulBckgColor: #FFD676;
  --colorfulTextColor: #030303;
  --colorfulHeadlineBckgColor: #f7ff00;
  --colorfulHeadlineTextShadow: #05fff3;
  --colorfulFirstBckgColor: #6562ed;
  --colorfulColorBckgColor: #FFD676;
  --colorfulTextMarkerColor: #F51AA4;

  --colorfulDataColor0: #F51AA4;
  --colorfulDataColor1: #59DBD4;
  --colorfulDataColor2: #5CFF8D;
  --colorfulDataColor3: #FF7F0F;
  --colorfulDataColor4: #A300CC;
  --colorfulDataColor5: #D12300;
  --colorfulDataColor6: #572100;

  --colorfulNodeBorderColor: #a6a6a6;
  --colorfulNodeBckgColor: #FDB575;
}

@font-face{
  font-family: "FredokaOne";
  src: url("/fonts/themes/colorful/FredokaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "RobotoCondReg";
  src: url("/fonts/themes/colorful/RobotoCondensed-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "RobotoCondBold";
  src: url("/fonts/themes/colorful/RobotoCondensed-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: "RobotoCondItalic";
  src: url("/fonts/themes/colorful/RobotoCondensed-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face{
  font-family: "RobotoCondBoldItalic";
  src: url("/fonts/themes/colorful/RobotoCondensed-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: "CourierPrime-Regular";
  src: url("/fonts/themes/colorful/CourierPrime-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}


.colorful,
.colorful .ppage {
	background: var(--colorfulBckgColor);
	color: var(--colorfulTextColor);
  font-weight: normal;
  font-family: "RobotoCondReg", Sans-Serif;
  font-size: 1.1em;
  /* instead inserted directly at end of file
  background-image: url("/themes/image/colorful-bckg-image2.svg");
  */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--colorfulColorBckgColor);
}

.colorful .ppage .progressbar{
  background: var(--colorfulHeadlineTextShadow);
  border-radius: 0 0 99px;
  position: absolute;
}

.status-textmarker-active .colorful ::selection{
  background: var(--colorfulTextMarkerColor);
  text-shadow: none;
}

.colorful p,
.colorful div,
.colorful section{
  position: relative;
  z-index: 1;
}



/*code affects both: inlinecode and codeblock*/
.colorful code {
  font-family: "CourierPrime-Regular", Monospace;
  font-size: 0.9em;
}
/*inline*/
.colorful p code, .colorful h1 code, .colorful h2 code, .colorful h3 code{
  padding: 0.12em 0.2em 0.12em 0.2em;
  color: white;
  background-color: var(--code-backg);
  text-shadow: none;
}



/*codeblock affects only codeblocks*/
.colorful code.codeblock{

}



.colorful h1,
.colorful h2,
.colorful h3{
  font-family: "FredokaOne", Sans-Serif;
  font-weight: normal;
  line-height: 1em;
}
.colorful h2,
.colorful h3{
  text-shadow: 0.05em 0.05em var(--colorfulFirstBckgColor);
  color: white;
  line-height: 0.9em;
  margin-bottom: 0.1em;
}
.colorful h2,
.colorful h2.griditem{
  max-width: 90vw;
}

.colorful .ppage:first-child{
  background-color: var(--colorfulFirstBckgColor);
  /* instead inserted directly at end of file
  background-image: url("/themes/image/colorful-bckg-image.svg");
  */
  background-repeat: no-repeat;
  background-size: cover;
}
.colorful .ppage:first-child span,
.colorful .ppage:first-child span a{
  color: white;
  background-color: var(--colorfulFirstBckgColor);
}

.colorful .ppage:first-child h1::before{
  background-color: transparent;
}


.colorful h1{
  color: white;
  font-size: 4em;
  margin-top: 25vh;
  text-shadow: 0.03em 0.04em black;
}
.colorful h1.griditem,
.colorful .griditem h1{
  max-width: 90vw;
  margin-bottom: calc((var(--h1scale) - 1)*2em);
  margin-top: calc((var(--h1scale) - 1)*-3em + 25vh);
  transform: scale(var(--h1scale));
  font-size: calc(1/var(--h1scale)*7.5em);
  line-height: calc(1/var(--h1scale)*1.1em);
}

.colorful h2{
  font-size: 6.5em;
  margin-left: -5vw;
  margin-right: -5vw;
}
.colorful h2 img{
  height: 2.2em;
}

.colorful .ppage > h2:first-child::before,
.colorful .ppage > .pblock:first-child > h2:first-child::before{
  content:"";
  width: 1000vw;
  height:104.5vh;
  /* background-color: var(--colorfulHeadlineTextShadow); */
  display: block;
  position: absolute;
  z-index: -1;
  margin-left: -100vw;
  margin-top: -100vh;
}

.colorful h3{
 margin-bottom: 0.2em;
 font-size: 2em;
}
.colorful h3 img{
  height: 1.3em;
}

.colorful .pblock h1+p{
  font-size: 1.3em;
}

.colorful .pblock h1+p,
.colorful .pblock h2+p,
.colorful .pblock h3+p {
  text-align: center;
  margin-bottom: 1em;
}

.colorful .inline .pblock h1+p,
.colorful .inline .pblock h2+p,
.colorful .inline .pblock h3+p,
.colorful .section .pblock h1+p,
.colorful .section .pblock h2+p,
.colorful .section .pblock h3+p{
  text-align: left;
  margin-top: 1em;
}

.colorful .pblock h2+p,
.colorful .pblock h3+p {
  margin-top: 1em;
  color: white;
  font-size: 1.3em;
  z-index: -1;

}
.colorful .pblock h2 + p > span,
.colorful .pblock h3 + p > span{
  background-color: var(--colorfulFirstBckgColor);
  padding: 0.05em 0.4em;
}

.colorful section .pblock h2 + p > span,
.colorful section .pblock h3 + p > span{
  background-color: var(--colorfulBckgColor);
  color: var(--colorfulTextColor);
}

.colorful p{
	/* text-shadow: 0 0 0.5em var(--colorfulBckgColor); */
  line-height: 1.3em;
}
.colorful p>span{
  background-color: var(--colorfulBckgColor);
  padding: 0 0.1em;
}
.colorful p br{
  margin-bottom: 0.5em;
}

.colorful .pblock h1+p img,
.colorful .pblock h2+p img,
.colorful .pblock h3+p img{

}
/*standard declared in blocks.css: max-height:1em*/
.colorful p img,
.colorful ul img,
.colorful ol img{
}
/*the floating ones inside a p-blocks
standard is:
max-height: 6em;
float:left/right;
margin:1ch;
*/
.colorful p img.floatingleftimage{
}
.colorful p img.floatingrightimage{
}


.colorful a{
  text-decoration: underline;
  font-family: "RobotoCondItalic", Sans-Serif;
  color: var(--colorfulTextColor);
}

.colorful .imageblock{
  font-size: 0.8em;
}

.colorful b{
  font-family: "RobotoCondBold", Sans-Serif;
}

.colorful i{
  font-family: "RobotoCondItalic", Sans-Serif;
  font-size: 0.95em;
}

.colorful b i{
  font-family: "RobotoCondBoldItalic", Sans-Serif
}

.colorful strike{

}

.colorful ul,
.colorful ol{
  line-height: 1.3em;
  background-color: var(--colorfulBckgColor);
  padding-left: 1.1em;
  padding-right: 0.5em;
}

.colorful ul{

}

.colorful ol{

}

.colorful li+li{
  margin: 0.3em 0;
}

.colorful code.codeblock ul,
.colorful code.codeblock ol{
  background-color: transparent;
}

.colorful code.codeblock li{
  overflow: hidden;
  background-color: transparent;
}
.colorful .codeblock.none{
  background-color: rgb(35, 36, 31);
  color: white;
}



/*sub-lists (unterpunkte/verschachtelung der listen)*/

.colorful ul ul,
.colorful ol ul{

}

.colorful ol ul,
.colorful ol ol{

}

.colorful mark{
  background-color: #63fb6d;
  text-shadow: none;
}


.colorful quote{
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.02em;
  text-underline-offset: 0.3em;
  line-height: 1.5em;
  font-family: "RobotoCondItalic", Sans-Serif;
}

.colorful p code{
  font-size: 0.85em;
}
.colorful code.codeblock{

}

/* charts:*/

/* alle charts sind in einer section mit klasse chart*/
.colorful section.chart{
  font-size: 0.7em;
  /*Portrait to 4:3*/
  /*max-height: calc(85.2vw/1.618); /*100vw - (padding-left + padding-right) = 85.2vw; golden ratio = 1.618*/
}
.colorful .ct-label.ct-vertical.ct-start{
  border-bottom: 0.3em solid var(--colorfulHeadlineBckgColor);
}
.colorful .ct-label.ct-horizontal.ct-end{
  border-right: 0.2em solid var(--colorfulHeadlineBckgColor);
}

/*pie-charts:*/
.colorful section.chart-pie{

}

/*bar-charts*/
.colorful section.chart-bar{

}

/*line-charts*/
.colorful section.chart-line{
  padding: 0 0 0 0.7em;

}

/*alle labels einer chart - wenn nur für bestimmte charts gewollt, muster von oben erweitern, also bspw. .colorful .chart-bar .ct-label. hier die größen der schrift und farben für die labels generell anpassen */
.colorful .ct-label{
  color: rgba(0, 0, 0, 0.7);
}
.colorful .ct-chart-pie .ct-label,
.colorful .ct-chart-donut .ct-label{
  fill: rgba(0, 0, 0, 1);
  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  font-family: "RobotoCondBold", Sans-Serif;
}

.colorful .ct-grid{
	stroke: var(--colorfulHeadlineBckgColor);
  stroke-width:0.15em;
  stroke-dasharray: 0;
}

/*x-achsen-label*/
.colorful .chart-x-axis-label{

}

/*y-achsen-label*/
.colorful .chart-y-axis-label{

}

/*dataset-label, was oben drüber steht und bspw. jahreszahl beinhaltet:*/
.colorful .chart-datasetlabel{
  border: none;
  padding: 0;
  margin-left: 1em;
}

/*die box davon:*/
.colorful .chart-datasetlabel-box{

}

.colorful .chart-datasetlabel-box.chart-datasetlabel-box-0{
	background: var(--colorfulDataColor0);
}
.colorful .chart-datasetlabel-box.chart-datasetlabel-box-1{
	background: var(--colorfulDataColor1);
}
.colorful .chart-datasetlabel-box.chart-datasetlabel-box-2{
	background: var(--colorfulDataColor2);
}
.colorful .chart-datasetlabel-box.chart-datasetlabel-box-3{
	background: var(--colorfulDataColor3);
}
.colorful .chart-datasetlabel-box.chart-datasetlabel-box-4{
	background: var(--colorfulDataColor4);
}
.colorful .chart-datasetlabel-box.chart-datasetlabel-box-5{
	background: var(--colorfulDataColor5);
}
.colorful .chart-datasetlabel-box.chart-datasetlabel-box-6{
	background: var(--colorfulDataColor6);
}
/*datasetlabel und ihre boxen können auch einzeln angesprochen werden und sind von 0 an durchnummeriert. erstes datasetlabel heißt .chart-datasetlabel-0 */


/*farben: ich fasse die zusammen um einheitlichkeit herzustellen. jeder block umfasst immer äußere und innere farbe. das schema kann weiter erweitert werden, aber ich belasse es erstmal bei 5 farben. nicht deklarierte farben nimmt er die standard-farben die er schon hat. die ersten 5 farben sollten auf die präsentation zugeschnitten sein. jede farbe ist als "ct-series-a" bis "ct-series-z" paar.*/

.colorful .ct-series-a .ct-point, .colorful .ct-series-a .ct-line, .colorful .ct-series-a .ct-bar, .colorful .ct-series-a .ct-slice-donut {
  stroke: var(--colorfulDataColor0);
}

.colorful .ct-series-a .ct-slice-pie, .colorful .ct-series-a .ct-slice-donut-solid, .colorful .ct-series-a .ct-area {
  fill: var(--colorfulDataColor0);
}

.colorful .ct-series-b .ct-point, .colorful .ct-series-b .ct-line, .colorful .ct-series-b .ct-bar, .colorful .ct-series-b .ct-slice-donut {
  stroke: var(--colorfulDataColor1);
}

.colorful .ct-series-b .ct-slice-pie, .colorful .ct-series-b .ct-slice-donut-solid, .colorful .ct-series-b .ct-area {
  fill: var(--colorfulDataColor1);
}

.colorful .ct-series-c .ct-point, .colorful .ct-series-c .ct-line, .colorful .ct-series-c .ct-bar, .colorful .ct-series-c .ct-slice-donut {
  stroke: var(--colorfulDataColor2);
}

.colorful .ct-series-c .ct-slice-pie, .colorful .ct-series-c .ct-slice-donut-solid, .colorful .ct-series-c .ct-area {
  fill: var(--colorfulDataColor2);
}

.colorful .ct-series-d .ct-point, .colorful .ct-series-d .ct-line, .colorful .ct-series-d .ct-bar, .colorful .ct-series-d .ct-slice-donut {
  stroke: var(--colorfulDataColor3);
}

.colorful .ct-series-d .ct-slice-pie, .colorful .ct-series-d .ct-slice-donut-solid, .colorful .ct-series-d .ct-area {
  fill: var(--colorfulDataColor3);
}

.colorful .ct-series-e .ct-point, .colorful .ct-series-e .ct-line, .colorful .ct-series-e .ct-bar, .colorful .ct-series-e .ct-slice-donut {
  stroke: var(--colorfulDataColor4);
}

.colorful .ct-series-e .ct-slice-pie, .colorful .ct-series-e .ct-slice-donut-solid, .colorful .ct-series-e .ct-area {
  fill: var(--colorfulDataColor4);
}

.colorful .ct-series-f .ct-point, .colorful .ct-series-f .ct-line, .colorful .ct-series-f .ct-bar, .colorful .ct-series-f .ct-slice-donut {
  stroke: var(--colorfulDataColor5);
}

.colorful .ct-series-f .ct-slice-pie, .colorful .ct-series-f .ct-slice-donut-solid, .colorful .ct-series-f .ct-area {
  fill: var(--colorfulDataColor5);
}

.colorful .ct-series-g .ct-point, .colorful .ct-series-g .ct-line, .colorful .ct-series-g .ct-bar, .colorful .ct-series-g .ct-slice-donut {
  stroke: var(--colorfulDataColor6);
}

.colorful .ct-series-g .ct-slice-pie, .colorful .ct-series-g .ct-slice-donut-solid, .colorful .ct-series-g .ct-area {
  fill: var(--colorfulDataColor6);
}


/*ende von charts*/

/*tables stehen in einer klassenlosen section. wenn du also .colorful section bearbeitest hat das auch effekt auf deren container. ansonsten steuer tabellen direkt an über*/

.colorful table{

}

.colorful th,
.colorful td{

}

.colorful thead{
  font-family: "RobotoCondBold";
}

.colorful table,
.colorful th,
.colorful td{
  border: 0.2em solid var(--colorfulDataColor4);
  padding: 0 0.5em;
  background-color: var(--colorfulBckgColor);
}

.colorful thead{

}

.colorful tbody{

}

.colorful tr{

}

.colorful td{

}

/* latex - elemente sind in einer section mit klasse klatex*/
.colorful section.klatex{

}

/* layout-elemente sind sections mit section-klasse. sie beinhalten weitere elemente*/

.colorful section.section{

}

/*layout-element auf linker seite, nimmt ca. ein drittel der linken seite ein*/
.colorful section.section.left{

}

/*layout-element auf rechter seite, nimmt die hälfte des platzes ein, wenn nicht zwei weitere layout-sections "in reihe" stehen, dann nimmt er ein drittel*/
.colorful section.section.right{

}


/* node */
.colorful .node .msg{
  background-color: var(--colorfulNodeBckgColor);
  margin: 0 0.5em;
  padding: 0 0.5em;
}
.colorful .node .arrow.dashed .arrowimg::before, .node .arrow.noarrowdashed .arrowimg::before {
  border-top: 0.2em dashed var(--colorfulDataColor3);
}
.colorful .node .simpleflow .node,
.colorful .node .flow .node{
  background: var(--colorfulDataColor1);
  border: none;
}
.colorful .ppage .node .tree .content{
  border: none;
  border-radius: 99em;
  background-color: var(--colorfulDataColor1);
}
.colorful .ppage .node .arrowspace .arrowimg+div{
  background-color: var(--colorfulNodeBckgColor);
}
.colorful .node .tree .arrowimg::after{
  background: linear-gradient(to top right, transparent 50%, var(--colorfulNodeBckgColor) 50%);
  border-top: none;
  border-right: none;
  opacity: 1;
}
.colorful .node .arrow .arrowimg::after{
  background: linear-gradient(to top right, transparent 50%, var(--colorfulDataColor3) 50%);
  width: 1em;
  height: 1em;
  top: -0.42em;
}
.colorful .node .arrow .arrowimg::before{
  border-top: 0.2em solid var(--colorfulDataColor3);
}
.colorful .simpleflow .arrow.broad .msg{
  color: var(--colorfulTextColor);
}
.colorful .node .simpleflow .arrowspace .broad .triangle::before{
  background-color: var(--colorfulDataColor3);
}
.colorful .node .simpleflow .arrowspace .broad .triangle{
  background: linear-gradient(to top right, transparent 50%, var(--colorfulDataColor3) 50%);
}
.colorful .node .node.cloud{
  background-color: var(--colorfulDataColor1);
  border: none;
}
.colorful .node .node.cloud::before{
  background-color: var(--colorfulDataColor1);
  border-top: none;
}
.colorful .node .node.cloud::after{
  background-color: var(--colorfulDataColor1);
  border-top: none;
}
.colorful .node .broad .arrowimg::before{
  border-bottom: 0.1em solid var(--colorfulDataColor3);
}
.colorful .node .sequence .arrow .arrowimg::after{
  width: 0.7em;
  height: 0.7em;
}
.colorful .node .sequence .actor{
  border: none;
  background: var(--colorfulDataColor1);
}
.colorful .node .sequence .stroke{
  width: 0.12em;
  background: var(--colorfulDataColor4);
}
.colorful .node .sequence .arrow .arrowimg::after{
  top: -0.25em;
}
.colorful .node .sequence .arrow.broad .arrowimg::after{
  top: -0.35em;
}
.colorful .node .sequence .node.cloud{
  height: 3.2em;
}
.colorful .node .sequence .cloud.actor{
  background: none;
  border: none;
}
.colorful .node .sequence .note{
  border: 0.2em solid var(--colorfulDataColor4);
  background: var(--colorfulBckgColor);
}
.colorful .node .sequence .diamond.actor{
  width: 3em;
  height: 3em;
  padding: 0.5em;
}

.colorful .ppage:first-child{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 1920 1080' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='ArtBoard1' x='0' y='0' width='1920' height='1080' style='fill:none;'/%3E%3CclipPath id='_clip1'%3E%3Crect id='ArtBoard11' serif:id='ArtBoard1' x='0' y='0' width='1920' height='1080'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23_clip1)'%3E%3Cpath d='M436.037,799.365c184.416,130.786 -70.662,245.741 -166.832,381.345c-96.169,135.604 2.755,240.835 -181.661,110.048c-184.416,-130.787 -256.062,-347.062 -159.892,-482.666c96.169,-135.603 323.969,-139.514 508.385,-8.727Z' style='fill:%23f51aa4;'/%3E%3Cpath d='M1548.17,497.437c23.227,-224.889 412.19,-112 563.243,-42.576c151.054,69.424 236.169,-47.259 141.754,158.168c-94.414,205.428 -182.111,440.529 -333.165,371.105c-151.054,-69.425 -391.18,-299.363 -371.832,-486.697Z' style='fill:%2359dbd4;'/%3E%3Cpath d='M1122.83,621.247c62.604,-41.494 96.115,-27.601 131.052,-11.544c34.938,16.057 52.369,61.026 29.888,109.94c-22.481,48.914 -115.447,5.675 -150.385,-10.382c-34.937,-16.058 -47.388,-63.601 -10.555,-88.014Z' style='fill:%23a300cc;'/%3E%3Cpath d='M879.629,846.882c65.051,-9.314 108.904,36.804 97.24,67.668c-10.811,28.61 -32.751,44.397 -74.281,54.834c-41.529,10.437 -65.267,-3.2 -72.722,-32.862c-7.454,-29.663 11.492,-84.16 49.763,-89.64Z' style='fill:%23d12300;'/%3E%3Cpath d='M454.652,332.092c56.033,266.536 -341.154,117.467 -532.358,-124.1c-49.044,-61.962 106.108,-317.968 212.728,-332.947c106.619,-14.978 433.245,-140.814 458.38,228.76c9.75,143.361 -157.197,140.535 -138.75,228.287Z' style='fill:%23ff7f0f;'/%3E%3Cpath d='M423.171,399.847c-10.231,85.377 -202.06,35.814 -306.802,-46.21c-49.012,-38.382 19.938,-13.601 104.493,-6.931c103.805,8.189 210.715,-16.997 202.309,53.141Z' style='fill:%23fff;fill-opacity:0.1;'/%3E%3Cpath d='M958.447,70.223c-127.086,-178.114 2.723,-210.603 27.663,-510.619c6.397,-76.954 175.479,-143.101 241.533,-111.873c66.053,31.229 311.113,54.219 127.372,400.749c-71.275,134.422 -285.478,377.439 -396.568,221.743Z' style='fill:%235cff8d;'/%3E%3Cpath d='M298.452,747.083c73.738,31.403 135.021,72.505 123.868,98.694c-11.153,26.189 -66.289,-20.462 -140.028,-51.864c-73.739,-31.403 -148.807,-30.086 -137.654,-56.276c11.154,-26.189 80.075,-21.957 153.814,9.446Z' style='fill:%23fff;fill-opacity:0.13;'/%3E%3Cpath d='M1043.96,103.903c-28.732,-1.639 -64.408,-17.514 -62.788,-45.934c1.621,-28.419 35.621,-5.112 64.353,-3.474c28.732,1.638 72.957,-18.523 71.336,9.896c-1.62,28.419 -44.169,41.15 -72.901,39.512Z' style='fill:%23fff;fill-opacity:0.3;'/%3E%3Cpath d='M1588.84,438.071c16.714,-23.428 57.606,-42.214 80.779,-25.682c23.172,16.532 -14.68,32.855 -31.394,56.283c-16.714,23.428 -23.255,71.589 -46.428,55.057c-23.173,-16.532 -19.671,-62.231 -2.957,-85.658Z' style='fill:%23fff;fill-opacity:0.17;'/%3E%3Cpath d='M1200.63,604.033c17.719,1.015 50.264,15.353 35.716,38.75c-8.235,13.245 -24.945,4.677 -39.163,0.958c-14.218,-3.719 -52.092,9.327 -54.251,-4.363c-4.2,-26.643 39.979,-36.361 57.698,-35.345Z' style='fill:%23fff;fill-opacity:0.12;'/%3E%3Cpath d='M881.572,858.96c15.185,-4.833 46.514,-2.23 44.077,19.265c-1.379,12.17 -16.988,11.022 -32.174,15.855c-15.185,4.833 -32.357,16.604 -39.201,7.894c-13.321,-16.952 12.113,-38.181 27.298,-43.014Z' style='fill:%23fff;fill-opacity:0.12;'/%3E%3Cpath d='M450.692,853.459c28.281,3.233 40.622,53.195 12.341,49.962c-28.281,-3.233 -40.622,-53.195 -12.341,-49.962Z' style='fill:%23fff;fill-opacity:0.13;'/%3E%3Cpath d='M1597.78,551.056c28.281,3.233 40.622,53.195 12.341,49.962c-28.281,-3.233 -40.622,-53.194 -12.341,-49.962Z' style='fill:%23fff;fill-opacity:0.13;'/%3E%3C/g%3E%3C/svg%3E");
}

.colorful .ppage{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 1920 1080' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='ArtBoard2' x='0' y='0' width='1920' height='1080' style='fill:none;'/%3E%3CclipPath id='_clip1'%3E%3Crect x='0' y='0' width='1920' height='1080'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23_clip1)'%3E%3Cg opacity='0.5'%3E%3Cpath d='M274.414,884.483c184.416,130.786 -70.662,245.741 -166.832,381.345c-96.169,135.604 2.755,240.835 -181.661,110.048c-184.416,-130.786 -256.061,-347.062 -159.892,-482.665c96.169,-135.604 323.969,-139.515 508.385,-8.728Z' style='fill:%23f51aa4;'/%3E%3Cpath d='M1771.33,611.315c23.227,-224.889 412.19,-112 563.243,-42.576c151.054,69.425 236.169,-47.259 141.754,158.169c-94.414,205.427 -302.414,222.466 -411.777,203.346c-164.232,-28.712 -312.568,-131.605 -293.22,-318.939Z' style='fill:%2359dbd4;'/%3E%3Cpath d='M1333.25,874.064c34.893,-38.528 96.115,-27.602 131.052,-11.545c34.938,16.057 52.369,61.026 29.888,109.94c-22.481,48.914 -93.288,29.813 -127.67,9.815c-33.237,-19.333 -62.933,-75.458 -33.27,-108.21Z' style='fill:%23a300cc;'/%3E%3Cpath d='M811.355,1003.19c57.768,-9.314 96.711,36.804 86.354,67.668c-9.602,28.61 -29.085,44.397 -65.966,54.834c-36.88,10.437 -57.96,-3.2 -64.58,-32.862c-6.62,-29.663 10.205,-84.16 44.192,-89.64Z' style='fill:%23d12300;'/%3E%3Cpath d='M169.817,172.294c18.395,271.741 -379.392,400.029 -545.562,140.605c-42.623,-66.542 165.503,-622.962 273.085,-627.238c107.582,-4.275 11.212,-17.292 308.88,203.185c96.097,71.177 -48.658,102.416 -36.403,283.448Z' style='fill:%23ff7f0f;'/%3E%3Cpath d='M91.088,203.494c71.814,47.292 -54.194,185.085 -174.368,242.155c-56.234,26.704 -7.289,-12.223 36.45,-84.892c53.698,-89.214 78.921,-196.115 137.918,-157.263Z' style='fill:%23fff;fill-opacity:0.1;'/%3E%3Cpath d='M957.866,33.222c-127.086,-178.115 2.723,-210.604 27.663,-510.62c6.397,-76.954 175.48,-143.101 241.533,-111.872c66.053,31.228 311.113,54.218 127.372,400.748c-71.275,134.423 -285.478,377.44 -396.568,221.744Z' style='fill:%235cff8d;'/%3E%3Cpath d='M136.829,832.201c73.738,31.403 135.021,72.505 123.868,98.694c-11.153,26.19 -66.289,-20.461 -140.028,-51.864c-73.739,-31.403 -148.807,-30.086 -137.654,-56.276c11.154,-26.189 80.075,-21.956 153.814,9.446Z' style='fill:%23fff;fill-opacity:0.13;'/%3E%3Cpath d='M1043.38,66.901c-28.732,-1.638 -64.408,-17.514 -62.788,-45.933c1.621,-28.419 35.621,-5.113 64.353,-3.475c28.732,1.639 72.957,-18.523 71.337,9.897c-1.621,28.419 -44.17,41.149 -72.902,39.511Z' style='fill:%23fff;fill-opacity:0.3;'/%3E%3Cpath d='M1812,551.949c16.714,-23.428 57.606,-42.214 80.779,-25.682c23.172,16.533 -14.68,32.856 -31.394,56.283c-16.714,23.428 -23.255,71.589 -46.428,55.057c-23.173,-16.532 -19.671,-62.231 -2.957,-85.658Z' style='fill:%23fff;fill-opacity:0.17;'/%3E%3Cpath d='M1405.05,861.849c17.718,1.015 50.264,15.353 35.716,38.75c-8.235,13.246 -24.945,4.677 -39.163,0.958c-14.218,-3.719 -52.092,9.327 -54.251,-4.363c-4.2,-26.643 39.979,-36.361 57.698,-35.345Z' style='fill:%23fff;fill-opacity:0.12;'/%3E%3Cpath d='M813.08,1015.27c13.485,-4.833 41.306,-2.23 39.143,19.265c-1.225,12.17 -15.087,11.022 -28.572,15.855c-13.486,4.833 -28.735,16.604 -34.813,7.894c-11.83,-16.952 10.757,-38.181 24.242,-43.014Z' style='fill:%23fff;fill-opacity:0.12;'/%3E%3Cpath d='M289.069,938.577c28.281,3.233 40.622,53.195 12.341,49.962c-28.281,-3.233 -40.622,-53.195 -12.341,-49.962Z' style='fill:%23fff;fill-opacity:0.13;'/%3E%3Cpath d='M1820.94,664.934c28.281,3.233 40.622,53.195 12.341,49.962c-28.281,-3.232 -40.622,-53.194 -12.341,-49.962Z' style='fill:%23fff;fill-opacity:0.13;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
