/*tutorial css
blends out several buttons and menus which are not needed in tutorial-mode
*/

#newnote, #deletebutton, #renamebutton, #changepasswordbutton {
    display:none;
}

#slidenoteeditor{
	background-color: #f0fdff;
}
.nightmode div#slidenoteeditor{
	background-color: #1f1000;
}

#publishbutton{
	opacity: 0.5;
}
